body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: White;
}

.cd-logo {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #642580;
  background-size: cover;
  min-height: 100%;
}

.cd-logo {
  background-image: url("CoderDojo.png");
  min-height: 100%;
  background-size: auto;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: white;
  text-align:center
}

.textSection {
  background-color:#642580;
  padding:50px 80px;
}

.kitchen-equipment {
  background-image: url("utensils.JPG");
}

.cake-ingredients{
  background-image: url("ingredients.jpg")
}

.cd-logo, .kitchen-equipment, .cake-ingredients{
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #642580;
  background-size: cover;
  min-height: 85%;

  background-attachment: fixed;
}

.caption {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

.border {
  background-color: #41BAC1;
  color: White;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.small-caption {
  position: absolute;
  top: 55%;
  width: 100%;
  text-align: center;
}
